<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chat.findit">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".Valley"
        android:allowBackup="true"
        android:icon="@drawable/findit"
        android:label="@string/app_name"
        android:roundIcon="@drawable/findit"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value="SearchActivity" />
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/search" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"></activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDoQ9MhUnPxyiFuFo3SGsddqDL4wPqUek8" />

        <activity android:name=".ListActivity"></activity>
        <activity android:name=".DetailsActivity"></activity>
        <activity android:name=".MapsListActivity"></activity>
        <activity android:name=".FavActivity"></activity>

        <provider
            android:name=".Provider"
            android:authorities="com.example.chat.findit"
            android:exported="false" />

        <receiver android:name=".FinItWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/fin_it_widget_info" />
        </receiver>
    </application>

</manifest>